*,
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('./asset/image/wallpaper\ black.jpg'); /* Ganti dengan path gambar yang sesuai */
      background-size: cover;      
      background-position: center; /* Gambar selalu di tengah */
      background-repeat: no-repeat;
}
